&lt;div class=&quot;card-block&quot;&gt;
  &lt;a href=&quot;#&quot; class=&quot;card-link&quot;&gt;
    &lt;img src=&quot;{{ shop.product.img.medium }}&quot; alt=&quot;{{ shop.product.name }}&quot; /&gt;
    &lt;h2 class=&quot;card-title&quot;&gt;{{ shop.product.name }}&lt;/h2&gt;
  &lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;card-shop&quot;&gt;{{ shop.name }}&lt;/a&gt;
  &lt;span class=&quot;card-price&quot;&gt;{{ shop.product.price }} &lt;small&gt;USD&lt;/small&gt;&lt;/span&gt;
&lt;/div&gt;&lt;!-- .card-info --&gt;