<form action="{{ url }}" method="post" class="search-form">           
  <div class="form-inline">
    <input type="text" placeholder="Search for items or shops" id="search-field" class="search-input" />
    <input type="submit" class="forms-submit" value="Search" />
  </div>
</form>