<form action="{{ url }}" method="post" class="newsletter-form">           
  <h3 class="newsletter-title">{{ interaction.newsletter.header }}</h3>
  <div class="form-inline">
  	<input type="email" placeholder="Enter your email" id="newsletter-field" class="newsletter-input" />
  	<input type="submit" class="forms-submit" value="Subscribe" />
  </div>
</form>