&lt;div class=&quot;demo&quot;&gt;
  &lt;div class=&quot;grid-container grid-max-2&quot;&gt;
    &lt;div class=&quot;grid-item gi&quot;&gt;
      1/2
    &lt;/div&gt;
    &lt;div class=&quot;grid-item gi&quot;&gt;
      1/2
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;