{{> organisms-header }}

  <article class="max-width">
    {{> organisms-store-header }}

    <main class="page-content">

      {{> organisms-store-content }}

    </main>

  </aricle>

{{> organisms-footer }}