{{> organisms-header }}

<article class="max-width">
  {{> organisms-store-header }}

  <main class="page-content with-sidebar">

    {{> organisms-store-product-listing }}

  </main>

  <aside class="sidebar">
    {{> molecules-card-menu-block }}
  </aside>

</aricle>

{{> organisms-footer }}