&lt;h1 class=&quot;page-title&quot;&gt;
  &lt;small class=&quot;page-breadcrumbs&quot;&gt;&lt;a href=&quot;#&quot;&gt;Grandparent&lt;/a&gt; / &lt;a href=&quot;#&quot;&gt;Parent&lt;/a&gt;&lt;/small&gt;
  Page Title
&lt;/h1&gt;