&lt;header class=&quot;site-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;max-width&quot;&gt;
  	{{&gt; atoms-logo }}
  &lt;/div&gt;
&lt;/header&gt;

&lt;section class='site-content'&gt;
