<div class="hgroup request">
  <a href="#" title="{{ shop.name }}"><img src="{{ shop.avatar }}" alt="{{ shop.name }}" /></a>
  <span class="request-content">
    <a href="#" title="{{ shop.name }}">{{ interaction.request.header }}</a> <em>{{ interaction.request.sub-header }}</em>
  </span>
</div>