&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;search-form&quot;&gt;           
  &lt;div class=&quot;form-inline&quot;&gt;
    &lt;input type=&quot;text&quot; placeholder=&quot;Search for items or shops&quot; id=&quot;search-field&quot; class=&quot;search-input&quot; /&gt;
    &lt;input type=&quot;submit&quot; class=&quot;forms-submit&quot; value=&quot;Search&quot; /&gt;
  &lt;/div&gt;
&lt;/form&gt;