</section>

<footer class="site-footer" role="contentinfo">
  <div class="max-width">
    {{> molecules-newsletter }}
    <div class="footer-navigation grid-container grid-max-5">
      <div class="grid-item">
        {{> molecules-footer-nav }}
      </div>
      <div class="grid-item">
        {{> molecules-footer-nav }}
      </div>
      <div class="grid-item">
        {{> molecules-footer-nav }}
      </div>
      <div class="grid-item">
        {{> molecules-footer-nav }}
      </div>
      <div class="grid-item">
        {{> molecules-footer-nav }}
      </div>
    </div>
  	<div class="lc">
  		<p class="copyright">&copy; 2013 Company Name. All rights reserved.</p>
  	</div>
  </div>
</footer>