</section>

<footer class="site-footer" role="contentinfo">
  <div class="max-width">
    {{> molecules-newsletter }}
    
     <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
      <li>{{> molecules-footer-nav }}</li>
      <li>{{> molecules-footer-nav }}</li>
      <li>{{> molecules-footer-nav }}</li>
      <li>{{> molecules-footer-nav }}</li>
      <li>{{> molecules-footer-nav }}</li>
    </ul>

  	<div class="lc">
  		<p class="copyright">&copy; 2013 Company Name. All rights reserved.</p>
  	</div>
  </div>
</footer>