{{&gt; organisms-header }}

&lt;article class=&quot;max-width&quot;&gt;
  {{&gt; organisms-store-header }}

  &lt;main class=&quot;page-content with-sidebar&quot;&gt;

    {{&gt; organisms-store-product-listing }}

  &lt;/main&gt;

  &lt;aside class=&quot;sidebar&quot;&gt;
    {{&gt; molecules-card-menu-block }}
  &lt;/aside&gt;

&lt;/aricle&gt;

{{&gt; organisms-footer }}