 &lt;div class=&quot;hgroup favorite&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    &lt;h2&gt;{{ interaction.favorite.header }}&lt;/h2&gt;
    &lt;p class=&quot;subheader&quot;&gt;{{ interaction.favorite.sub-header }}&lt;/p&gt;
  &lt;/a&gt;
&lt;/div&gt;