<h3 class="menu-title">Menu Title</h3>
<ul class="nav-menu">
	<li class="menu-item"><a href="#" title="">Menu Item</a></li>
	<li class="menu-item"><a href="#" title="">Menu Item</a></li>
	<li class="menu-item"><a href="#" title="">Menu Item</a></li>
	<li class="menu-item"><a href="#" title="">Menu Item</a></li>
</ul>