<ol class="nav-menu pagination">
	<li class="menu-item pagination-item">1</li>
	<li class="menu-item pagination-item"><a href="{{ url }}">2</a></li>
	<li class="menu-item pagination-item"><a href="{{ url }}">3</a></li>
	<li class="menu-item pagination-item"><a href="{{ url }}">4</a></li>
	<li class="menu-item pagination-item"><a href="{{ url }}">5</a></li>
	<li class="menu-item pagination-item"><a href="{{ url }}">6</a></li>
	<li class="menu-item pagination-item"><a href="{{ url }}">7</a></li>
</ol>