/*------------------------------------*\
    $BASE ELEMENTS & ATOMS
\*------------------------------------*/
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
body {
  background: #f5f5f1;
  font: 100%/1.5 Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #666; }

/* Images */
img {
  max-width: 100%; }

/* Text */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  line-height: 1;
  color: #000;
  margin: 0; }

h1, h2, h3 {
  line-height: 1.2; }

p {
  margin: 0 0 15px; }

blockquote {
  font-style: italic;
  border-left: 1px solid #808080;
  color: #808080;
  padding-left: 1em;
  margin-bottom: 1em; }

/* Links */
a {
  color: #0192b5;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* Lists */
/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 15px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Forms */
input, textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #e8e8df;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px; }

input[type="submit"] {
  color: #fff; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  width: auto; }

input[type="color"] {
  box-sizing: content-box;
  width: 50px; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 5px #666; }

th {
  text-align: left;
  border: none;
  padding: 0.4em 0.2em; }

thead th {
  background: #efefe8;
  border-bottom: 1px solid #999; }

td {
  border: none;
  padding: 0.2em; }

/* Media */
img, video, object {
  max-width: 100%;
  height: auto; }

iframe {
  margin-bottom: 15px; }

figure {
  margin-bottom: 15px; }
  figure img {
    margin-bottom: 7.5px; }

figcaption {
  font-style: italic; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #eee;
  margin: 2em 0; }

abbr {
  border-bottom: 1px dotted #808080;
  cursor: help; }

/* Grid */
.grid-container {
  clear: both;
  overflow: hidden; }

.grid-item {
  box-sizing: border-box; }

[data-eq-state$="is-2-col"] .grid-max-2 .grid-item, [data-eq-state$="is-3-col"] .grid-max-2 .grid-item, [data-eq-state$="is-4-col"] .grid-max-2 .grid-item, [data-eq-state$="is-5-col"] .grid-max-2 .grid-item, [data-eq-state$="is-2-col"] .grid-max-3 .grid-item, [data-eq-state$="is-3-col"] .grid-max-3 .grid-item, [data-eq-state$="is-4-col"] .grid-max-3 .grid-item, [data-eq-state$="is-5-col"] .grid-max-3 .grid-item, [data-eq-state$="is-2-col"] .grid-max-4 .grid-item, [data-eq-state$="is-3-col"] .grid-max-4 .grid-item, [data-eq-state$="is-4-col"] .grid-max-4 .grid-item, [data-eq-state$="is-5-col"] .grid-max-4 .grid-item, [data-eq-state$="is-2-col"] .grid-max-5 .grid-item, [data-eq-state$="is-3-col"] .grid-max-5 .grid-item, [data-eq-state$="is-4-col"] .grid-max-5 .grid-item, [data-eq-state$="is-5-col"] .grid-max-5 .grid-item {
  width: 50%;
  float: left; }
  [data-eq-state$="is-2-col"] .grid-max-2 .grid-item:nth-child(odd), [data-eq-state$="is-3-col"] .grid-max-2 .grid-item:nth-child(odd), [data-eq-state$="is-4-col"] .grid-max-2 .grid-item:nth-child(odd), [data-eq-state$="is-5-col"] .grid-max-2 .grid-item:nth-child(odd), [data-eq-state$="is-2-col"] .grid-max-3 .grid-item:nth-child(odd), [data-eq-state$="is-3-col"] .grid-max-3 .grid-item:nth-child(odd), [data-eq-state$="is-4-col"] .grid-max-3 .grid-item:nth-child(odd), [data-eq-state$="is-5-col"] .grid-max-3 .grid-item:nth-child(odd), [data-eq-state$="is-2-col"] .grid-max-4 .grid-item:nth-child(odd), [data-eq-state$="is-3-col"] .grid-max-4 .grid-item:nth-child(odd), [data-eq-state$="is-4-col"] .grid-max-4 .grid-item:nth-child(odd), [data-eq-state$="is-5-col"] .grid-max-4 .grid-item:nth-child(odd), [data-eq-state$="is-2-col"] .grid-max-5 .grid-item:nth-child(odd), [data-eq-state$="is-3-col"] .grid-max-5 .grid-item:nth-child(odd), [data-eq-state$="is-4-col"] .grid-max-5 .grid-item:nth-child(odd), [data-eq-state$="is-5-col"] .grid-max-5 .grid-item:nth-child(odd) {
    clear: left; }

[data-eq-state$="is-3-col"] .grid-max-3 .grid-item, [data-eq-state$="is-4-col"] .grid-max-3 .grid-item, [data-eq-state$="is-5-col"] .grid-max-3 .grid-item, [data-eq-state$="is-3-col"] .grid-max-4 .grid-item, [data-eq-state$="is-4-col"] .grid-max-4 .grid-item, [data-eq-state$="is-5-col"] .grid-max-4 .grid-item, [data-eq-state$="is-3-col"] .grid-max-5 .grid-item, [data-eq-state$="is-4-col"] .grid-max-5 .grid-item, [data-eq-state$="is-5-col"] .grid-max-5 .grid-item {
  width: 33.33%;
  float: left; }
  [data-eq-state$="is-3-col"] .grid-max-3 .grid-item:nth-child(odd), [data-eq-state$="is-4-col"] .grid-max-3 .grid-item:nth-child(odd), [data-eq-state$="is-5-col"] .grid-max-3 .grid-item:nth-child(odd), [data-eq-state$="is-3-col"] .grid-max-4 .grid-item:nth-child(odd), [data-eq-state$="is-4-col"] .grid-max-4 .grid-item:nth-child(odd), [data-eq-state$="is-5-col"] .grid-max-4 .grid-item:nth-child(odd), [data-eq-state$="is-3-col"] .grid-max-5 .grid-item:nth-child(odd), [data-eq-state$="is-4-col"] .grid-max-5 .grid-item:nth-child(odd), [data-eq-state$="is-5-col"] .grid-max-5 .grid-item:nth-child(odd) {
    clear: none; }
  [data-eq-state$="is-3-col"] .grid-max-3 .grid-item:nth-child(3n+1), [data-eq-state$="is-4-col"] .grid-max-3 .grid-item:nth-child(3n+1), [data-eq-state$="is-5-col"] .grid-max-3 .grid-item:nth-child(3n+1), [data-eq-state$="is-3-col"] .grid-max-4 .grid-item:nth-child(3n+1), [data-eq-state$="is-4-col"] .grid-max-4 .grid-item:nth-child(3n+1), [data-eq-state$="is-5-col"] .grid-max-4 .grid-item:nth-child(3n+1), [data-eq-state$="is-3-col"] .grid-max-5 .grid-item:nth-child(3n+1), [data-eq-state$="is-4-col"] .grid-max-5 .grid-item:nth-child(3n+1), [data-eq-state$="is-5-col"] .grid-max-5 .grid-item:nth-child(3n+1) {
    clear: left; }

[data-eq-state$="is-4-col"] .grid-max-4 .grid-item, [data-eq-state$="is-5-col"] .grid-max-4 .grid-item, [data-eq-state$="is-4-col"] .grid-max-5 .grid-item, [data-eq-state$="is-5-col"] .grid-max-5 .grid-item {
  width: 25%;
  float: left; }
  [data-eq-state$="is-4-col"] .grid-max-4 .grid-item:nth-child(3n+1), [data-eq-state$="is-5-col"] .grid-max-4 .grid-item:nth-child(3n+1), [data-eq-state$="is-4-col"] .grid-max-5 .grid-item:nth-child(3n+1), [data-eq-state$="is-5-col"] .grid-max-5 .grid-item:nth-child(3n+1) {
    clear: none; }
  [data-eq-state$="is-4-col"] .grid-max-4 .grid-item:nth-child(4n+1), [data-eq-state$="is-5-col"] .grid-max-4 .grid-item:nth-child(4n+1), [data-eq-state$="is-4-col"] .grid-max-5 .grid-item:nth-child(4n+1), [data-eq-state$="is-5-col"] .grid-max-5 .grid-item:nth-child(4n+1) {
    clear: left; }

[data-eq-state$="is-5-col"] .grid-max-5 .grid-item {
  width: 20%;
  float: left; }
  [data-eq-state$="is-5-col"] .grid-max-5 .grid-item:nth-child(4n+1) {
    clear: none; }
  [data-eq-state$="is-5-col"] .grid-max-5 .grid-item:nth-child(5n+1) {
    clear: left; }

/*------------------------------------*\
    $MODULES
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* Site Header */
.site-title {
  margin: 0;
  padding: 0; }
  .site-title a {
    color: #f45800;
    display: block;
    width: 75px;
    height: 36px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/etsy.png) no-repeat; }

/*# sourceMappingURL=style.css.map */
