&lt;ul class=&quot;grid-container grid-max-4&quot;&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
  &lt;li class=&quot;grid-item&quot;&gt;
    {{&gt; molecules-card-block }}
  &lt;/li&gt;
&lt;/ul&gt;

{{&gt; molecules-pagination }}