&lt;/section&gt;

&lt;footer class=&quot;site-footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;max-width&quot;&gt;
    {{&gt; molecules-newsletter }}
    
     &lt;ul class=&quot;small-block-grid-2 medium-block-grid-3 large-block-grid-5&quot;&gt;
      &lt;li&gt;{{&gt; molecules-footer-nav }}&lt;/li&gt;
      &lt;li&gt;{{&gt; molecules-footer-nav }}&lt;/li&gt;
      &lt;li&gt;{{&gt; molecules-footer-nav }}&lt;/li&gt;
      &lt;li&gt;{{&gt; molecules-footer-nav }}&lt;/li&gt;
      &lt;li&gt;{{&gt; molecules-footer-nav }}&lt;/li&gt;
    &lt;/ul&gt;

  	&lt;div class=&quot;lc&quot;&gt;
  		&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2013 Company Name. All rights reserved.&lt;/p&gt;
  	&lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;