&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;newsletter-form&quot;&gt;           
  &lt;h3 class=&quot;newsletter-title&quot;&gt;{{ interaction.newsletter.header }}&lt;/h3&gt;
  &lt;div class=&quot;form-inline&quot;&gt;
  	&lt;input type=&quot;email&quot; placeholder=&quot;Enter your email&quot; id=&quot;newsletter-field&quot; class=&quot;newsletter-input&quot; /&gt;
  	&lt;input type=&quot;submit&quot; class=&quot;forms-submit&quot; value=&quot;Subscribe&quot; /&gt;
  &lt;/div&gt;
&lt;/form&gt;