&lt;div class=&quot;description-wrapper&quot;&gt;
  &lt;div class=&quot;description description-spacing&quot;&gt;
    &lt;h2 class=&quot;description-title&quot;&gt;{{ shop.product.name }}&lt;/h2&gt;
    &lt;span class=&quot;description-price&quot;&gt;{{ shop.product.price }} &lt;small&gt;USD&lt;/small&gt;&lt;/span&gt;
    &lt;p&gt;&lt;strong&gt;Overview&lt;/strong&gt;&lt;/p&gt;
    {{{ shop.product.overview }}}
  &lt;/div&gt;
  &lt;div class=&quot;description-spacing&quot;&gt;
    &lt;input type=&quot;button&quot; value=&quot;Add to Cart&quot; class=&quot;green description-cta&quot; /&gt;
  &lt;/div&gt;
&lt;/div&gt;