&lt;div class=&quot;shop-block&quot;&gt;
  &lt;a href=&quot;#&quot; title=&quot;{{ store.name }}&quot;&gt;
    &lt;img src=&quot;{{ shop.avatar }}&quot; alt=&quot;{{ shop.name }}&quot; /&gt;
    &lt;h1 class=&quot;shop-header&quot;&gt;{{ shop.name }}&lt;/h1&gt;
    &lt;span class=&quot;shop-product-count&quot;&gt;{{ shop.item-count }} Items&lt;/span&gt;
  &lt;/a&gt;
&lt;/div&gt;