    &lt;div class=&quot;product-content grid-container grid-max-2&quot;&gt;
      &lt;div class=&quot;grid-item&quot;&gt;
        {{&gt; molecules-product-img-block }}
      &lt;/div&gt;
      &lt;div class=&quot;grid-item&quot;&gt;
        {{&gt; molecules-description-block }}
        {{&gt; molecules-favorite-group }}
      &lt;/div&gt;

    &lt;/div&gt;