<div class="demo"  data-eq-pts="is-2-col: 400, is-3-col: 550, is-4-col: 700, is-5-col: 800">
  <div class="grid-container grid-max-1">
    <div class="grid-item gi">
      1/1
    </div>
  </div>
</div>