<div class="demo">
  <div class="grid-container grid-max-5">
    <div class="grid-item gi">
      1/5
    </div>
    <div class="grid-item gi">
      1/5
    </div>
    <div class="grid-item gi">
      1/5
    </div>
    <div class="grid-item gi">
      1/5
    </div>
    <div class="grid-item gi">
      1/5
    </div>
  </div>
</div>