&lt;nav class=&quot;card-block&quot; data-eq-pts=&quot;is-too-wide: 400&quot;&gt;
  &lt;h3 class=&quot;menu-title card-menu-title&quot;&gt;Shop Sections&lt;/h3&gt;
  &lt;ul class=&quot;nav-menu card-menu&quot;&gt;
    &lt;li class=&quot;menu-item card-menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Product Category &lt;small class=&quot;card-menu-count&quot;&gt;20&lt;/small&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;menu-item card-menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Product Category &lt;small class=&quot;card-menu-count&quot;&gt;20&lt;/small&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;menu-item card-menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Product Category &lt;small class=&quot;card-menu-count&quot;&gt;20&lt;/small&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;menu-item card-menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Product Category &lt;small class=&quot;card-menu-count&quot;&gt;20&lt;/small&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;menu-item card-menu-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Product Category &lt;small class=&quot;card-menu-count&quot;&gt;20&lt;/small&gt;&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;