{{&gt; organisms-header }}

  &lt;article class=&quot;max-width&quot;&gt;

    &lt;main class=&quot;page-content&quot;&gt;

      {{&gt; organisms-store-content }}

    &lt;/main&gt;

  &lt;/aricle&gt;

{{&gt; organisms-footer }}