    <div class="product-content grid-container grid-max-2">
      <div class="grid-item">
        {{> molecules-product-img-block }}
      </div>
      <div class="grid-item">
        {{> molecules-description-block }}
        {{> molecules-favorite-group }}
      </div>

    </div>