<header class="page-header">
  <div class="sidebar">
    {{> molecules-store-header-block }}
  </div>
  <a href="#" title="{{ store.name }}"><img src="{{ shop.banner-wide }}" alt=" {{ shop.name }}" class="with-sidebar store-banner" /></a>
</header>