<ul class="grid-container grid-max-4">
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
  <li class="grid-item">
    {{> molecules-card-block }}
  </li>
</ul>

{{> molecules-pagination }}