<div class="card-block">
  <a href="#" class="card-link">
    <img src="{{ shop.product.img.medium }}" alt="{{ shop.product.name }}" />
    <h2 class="card-title">{{ shop.product.name }}</h2>
  </a>
  <a href="#" class="card-shop">{{ shop.name }}</a>
  <span class="card-price">{{ shop.product.price }} <small>USD</small></span>
</div><!-- .card-info -->