<div class="description-wrapper">
  <div class="description description-spacing">
    <h2 class="description-title">{{ shop.product.name }}</h2>
    <span class="description-price">{{ shop.product.price }} <small>USD</small></span>
    <p><strong>Overview</strong></p>
    {{{ shop.product.overview }}}
  </div>
  <div class="description-spacing">
    <input type="button" value="Add to Cart" class="green description-cta" />
  </div>
</div>