<nav class="card-block" data-eq-pts="is-too-wide: 400">
  <h3 class="menu-title card-menu-title">Shop Sections</h3>
  <ul class="nav-menu card-menu">
    <li class="menu-item card-menu-item"><a href="#">Product Category <small class="card-menu-count">20</small></a></li>
    <li class="menu-item card-menu-item"><a href="#">Product Category <small class="card-menu-count">20</small></a></li>
    <li class="menu-item card-menu-item"><a href="#">Product Category <small class="card-menu-count">20</small></a></li>
    <li class="menu-item card-menu-item"><a href="#">Product Category <small class="card-menu-count">20</small></a></li>
    <li class="menu-item card-menu-item"><a href="#">Product Category <small class="card-menu-count">20</small></a></li>
  </ul>
</nav>