<div class="shop-info-block">
  <a href="#" title="{{ store.name }}">
    <img src="{{ shop.avatar }}" alt="{{ shop.name }}" class="shop-info-avatar" />
    <h1 class="shop-header">{{ shop.name }}</h1>
    <span class="shop-product-count">{{ shop.item-count }} Items</span>
  </a>
</div>