<ul class="product-img-block">
  <li class="product-img-item is-active-img"><img src="{{ shop.product.img.large }}" alt="{{ shop.product.name }}" /></li>
  <li class="product-img-item"><img src="{{ shop.product.img.tiny }}" alt="{{ shop.product.name }}" /></li>
  <li class="product-img-item"><img src="{{ shop.product.img.tiny }}" alt="{{ shop.product.name }}" /></li>
  <li class="product-img-item"><img src="{{ shop.product.img.tiny }}" alt="{{ shop.product.name }}" /></li>
  <li class="product-img-item"><img src="{{ shop.product.img.tiny }}" alt="{{ shop.product.name }}" /></li>
</ul>