&lt;div class=&quot;hgroup&quot;&gt;
   	&lt;h2&gt;This is the heading group's main heading&lt;/h2&gt;
   	&lt;p class=&quot;subheader&quot;&gt;This is the heading group's subheading&lt;/p&gt;
&lt;/div&gt;