<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">#fff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">#000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f45800;"></span>
		<span class="sg-label">#f45800</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #78c042;"></span>
		<span class="sg-label">#78c042</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #0192b5;"></span>
		<span class="sg-label">#0192b5</span>
	</li>
	<li style="display: block; width: 100%; border: none;"></li>
	<li>
		<span class="sg-swatch" style="background: #f5f5f1;"></span>
		<span class="sg-label">#f5f5f1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #efefe8;"></span>
		<span class="sg-label">#efefe8</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d7d7d4;"></span>
		<span class="sg-label">#d7d7d4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999;"></span>
		<span class="sg-label">#999</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666;"></span>
		<span class="sg-label">#666</span>
	</li>
</ul>