&lt;header class=&quot;page-header&quot;&gt;
  &lt;div class=&quot;sidebar&quot;&gt;
    {{&gt; molecules-store-header-block }}
  &lt;/div&gt;
  &lt;a href=&quot;#&quot; title=&quot;{{ store.name }}&quot;&gt;&lt;img src=&quot;{{ shop.banner-wide }}&quot; alt=&quot; {{ shop.name }}&quot; class=&quot;with-sidebar store-banner&quot; /&gt;&lt;/a&gt;
&lt;/header&gt;